*{outline:none;list-style:none;margin:0 auto;}
a:focus{outline:none;}
::-webkit-scrollbar { display: none;}
scrollbar { display: none;}
html{overflow: hidden;zoom:0.95;}
body{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}
.container{max-width:1385px;margin:0 auto;}
#page{background:url(img/body-bg.jpg) no-repeat;background-size:cover;float:left;width:100%;}
#content{background:#fff;padding-bottom:50px;}
#content.remove_bg{background:none;}
#content.remove_bg h1{margin-top:20px;text-align:center;color:#fff;font-weight:normal;font-family:'HelveticaNeueLTPro-Md';font-size:60px;text-shadow:-3px 5px rgb(43, 42, 42);}
.center{text-align:center;}
a:hover{text-decoration:none;}
a.btn{font-size:28px;padding:10px 6px 0px;text-transform:uppercase;font-family:MyriadPro-Bold;display:block;}
.blue{color:#001f66;font-style:italic;letter-spacing:-1px;}
a.btn:hover{text-decoration:underline;}
.btn.orange{color:#f96300;font-family:'MyriadPro-Bold';}
#commentform input[type=submit]:hover{background:#f96300;color:#fff;}
a.view_photo{padding:6px 9px 4px;background:#ff6600;box-shadow:0 2px 2px #848484;border-radius:12px;color:#fff;font-size:12px;display:block;float:right;text-transform:uppercase;font-family:'MyriadPro-Regular';margin-top:10px;}
a.view_photo:hover{background:#636363;}
#commentform input[type=submit]{padding:8px 23px;border-radius:50px;font-size:16px;font-family:'HelveticaNeueLTPro-Md';color:#000;border:4px solid #f46200;border-top:none;box-shadow:0px 2px 10px #6D6969;font-weight:normal;background-color:#fff;}
label{font-family:HelveticaNeueLTPro-ThCn;font-size:16px;font-weight:bold;}
.page-header{border:none;padding:40px 0 20px;background:rgb(239, 239, 239);}
.page-header h1{font-family:'HelveticaNeueLTPro-Cn';font-size:34px;margin:0px;color:#00186d;}
.padding_30{padding:30px;}
.site-primary-navigation ul li.menu_btn a{padding:8px 23px;border-radius:50px;font-size:22px;font-family:'HelveticaNeueLTPro-Md';color:#000;border:4px solid #f46200;border-top:none;box-shadow:0px 2px 10px #6D6969;font-weight:normal;}
.site-primary-navigation ul li.but_red a{}
.site-primary-navigation ul li.btn_blue a{border:4px solid #002459;border-top:none;}
.site-primary-navigation ul li.qa{margin-left:40px;position:relative;width:125px;height:51px;}
.site-primary-navigation ul li.qa a{background:url(img/qa.png) no-repeat;color:#fff;padding:20px 15px;border-radius:15px;font-family:'HelveticaNeueLTPro-ThEx';position:absolute;bottom:-60px;font-size:41px;background-size:cover;height:117px;text-shadow:0px 2px 2px #000;}
.site-primary-navigation ul li.but_red a:hover{background:#f46200;color:#fff;}
.site-primary-navigation ul li.btn_blue a:hover{background:#002459;color:#fff;}
.button{padding:10px 30px;}
.site-header{box-shadow:none;}
.home .top_header{width:100%;float:left;position:relative;}
.site-header.header_1 .container{max-width:1385px;padding:9px 0px;}
.header_1 .nav-menu-primary li, .header_1 .nav-menu-primary ul li{margin-left:25px;}
.nav-menu-primary ul li a, .nav-menu-primary li a, .primary-menu-toggle i, .site-primary-navigation .primary-menu-toggle, .site-primary-navigation #searchform input[type="text"], .site-primary-navigation #searchform button{color:#000;}
.news_page{max-width:1260px;left:40px !important;margin:0 auto;}
.news_page h1{margin-top:20px;text-align:center;color:#fff;font-weight:normal;font-family:'HelveticaNeueLTPro-Md';font-size:60px;text-shadow:-3px 5px rgb(43, 42, 42);}
.site-header.header_2 .container{max-width:1640px;padding:9px 0px;}
.site-header.header_2 .site-title{padding-right:40px;margin:0px;border-right:2px solid #636363;position:relative;}
.site-header.header_2 .site-title:after{content:'';position:absolute;top:29px;right:-17px;background:url(img/header-arrow.png) no-repeat;width:15px;height:15px;}
.site-header.header_2 .header_logo{padding:5px 0px 0px 25px;float:left;}
.site-header.header_2 .site-primary-navigation{position:relative;padding-left:40px;float:left;-webkit-transform:translatey(0%);-moz-transform:translatey(-50%);transform:translatey(0%);}
.site-header.header_2 .site-primary-navigation ul li{margin-left:25px;}
.site-header.header_2 .header_two_btn{float:right;}
.site-header.header_2 .header_two_btn a{float:left;margin-left:15px;}
.box_gray{padding:60px 45px 50px;background:#f9f9f9;border-radius:50px;max-height:985px;overflow:auto;}
.vc_row-no-padding .box_gray .wpb_content_element{margin-top:10px;background:#fff;padding:12px 20px;border-radius:25px;box-shadow:-1px 4px 0px #dddddd;float:left;margin-bottom:10px;}
.box_gray h3{font-family:'HelveticaNeueLTPro-Cn';font-size:24px;color:#00186d;margin:0px 0px 10px;}
.box_gray h4{font-family:'HelveticaNeueLTPro-ThCn';font-size:24px;color:#00186d;margin:0px 0px 10px;color:#000;text-transform:uppercase;}
.box_gray p{font-size:18px;font-family:'HelveticaNeueLTPro-ThCn';color:#000;line-height:normal;letter-spacing: 1px;font-weight: 600;}
.box_gray img{border-radius:20px;margin:0px 20px 0px 0px;}
.box_gray .vc_col-sm-6:nth-child(even){padding-left:20px;}
.box_gray .vc_col-sm-6:nth-child(odd){padding-right:20px;}
.box_gray .wpb_row{margin-bottom:15px;}
.news_page.qa_page .box_gray{padding:60px 45px 50px 110px;}
.page .news_page h1.qa_title{font-family:'HelveticaNeueLTPro-ThEx';font-size:62px;background:url(img/qa-bg.png) no-repeat;float:right;background-size:cover;height:170px;min-width:181px;margin-top:10px;position:relative;text-align:center;padding-top:20px;text-shadow:-1px 2px rgb(43, 42, 42);margin-bottom:-60px;z-index:99;}
.home #page{min-height:1307px;}
.front_page{max-width:1380px;margin:0 auto;left:0 !important;}
.home_content{max-width:1500px;margin:0 auto;}
.home_content h1{font-family:'slim_joeregular';font-size:58px;color:#fff;margin:25px 0 30px 0px;}
.home_content p{color:#fff;font-family:'HelveticaNeueLTPro-UltLt';color:#fff;font-size:24px;padding-left:10px;line-height:28px;}
.who_we{min-height:400px; /*background:url(img/who_we.png) no-repeat right top; */}
.who_we.bg_bottom{background-position:right 150px;}
.home_content .rec_job_related .wpb_content_element p{border-bottom:4px solid #fff;margin-bottom:3px;}
.rec_job_related .wpb_content_element{width:95%;float:left;}
.f_light{color:#ffffff;font-family:HelveticaNeueLTPro-Lt;font-size:18px;text-transform:uppercase;display:inline-block;font-weight:normal;letter-spacing:0.25px;}
.home_content .vc_col-sm-7{padding:0px;float:right;max-width:830px;}
.home_content .vc_col-sm-7 h1{margin-bottom:0px;}
.rec_job_related h1{margin-bottom:0px;margin-top:0px;}
.home_content .vc_col-sm-7 p{margin-bottom:0px;}
.rec_job_related{}
.rec_job_related p{padding-left:0px;}
.rec_job{;float:left;padding:17px 20px;width:95%;}
.rec_job ul{margin:0px;padding:0px;}
.rec_job ul li{float:left;width:30.6%;margin-right:4%; border-radius: 27px; background: rgba(255,255,255,0.5); overflow: hidden;}
.rec_job ul li:last-child{margin-right:0px;}
.rec_job ul li h4 {
	font-size: 15px;
	color: #000000;
	font-family: HelveticaNeueLTPro-Lt;
	font-weight: bold;
	line-height: 1.2em;
	margin: 8px 0 9px 10px;
}
.rec_job ul li img{max-width:100%; border: 4px solid rgba(255, 255, 255, 0.5); border-radius: 27px;}
.rec_job ul li a.detail {
	display: block;
	background: #ff6600;
	font-size: 18px;
	text-align: center;
	color: #fff;
	padding: 3px 10px;
}
.rec_job ul li a.detail:hover{background:#FFBD01; padding: 6px 10px;}
.read-more{position:relative;}
.read-more .vc_btn3.vc_btn3-color-white.vc_btn3-style-modern{padding-top:10px;padding-bottom:10px;color:#01164a;text-transform:uppercase;border-radius:20px;font-size:16px;}
.read-more .vc_btn3.vc_btn3-color-white.vc_btn3-style-modern:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #fff transparent transparent transparent;
	opacity: 0.85;
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -8px;
}
.read-more .vc_btn3.vc_btn3-color-white.vc_btn3-style-modern.active-read-more:after {
	display: none;
}
.read-more .vc_btn3.vc_btn3-color-white.vc_btn3-style-modern.active-read-more:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: transparent transparent #fff transparent;
	opacity: 0.85;
	position: absolute;
	top: -12px;
	left: 50%;
	margin-left: -8px;
}
.home_tab{background:#f3f3f3;height:225px;padding-top:25px;}
.home_tab .container{max-width:1445px;margin:0 auto;}
.home_tab ul{margin:0px;}
.home_tab ul li{float:left;position:relative;min-width:239px;min-height:120px;margin:0px 45px;text-align:center;}
.home_tab ul li a{color:#001f66;}
.home_tab ul li .tab_title{position:relative;max-width:239px;padding:20px 20px;font-family:'HelveticaNeueLTPro-MdCn';font-size:24px;text-align:center;border-radius:30px;box-shadow:0px 3px 4px #737373;line-height:26px;background-color:#fff;font-weight:bold;margin-bottom:30px;text-transform:uppercase;font-weight:normal;word-break:keep-all;}
.home_tab ul li.sin_line .tab_title{padding:10px 20px;}
.home_tab ul li .tab_title:before{width:44px;height:30px;margin-left:-20px;position:absolute;left:50%;bottom:-28px;content:'';background:url(img/arrow-white-down.png) no-repeat;}
.home_tab ul li .tab_title a{color:#001f66;display:block;}
.home_tab ul li.active .tab_title{position:absolute;background:#00265f;bottom:-135px;box-shadow:0px 1px 8px #000000;left:50%;transform:translate(-50%);-ms-transform:translate(-50%);-webkit-transform:translate(-50%);width:100%;}
.home_tab ul li.active .tab_title a{color:#fff;}
.home_tab ul li span{display:inline-block;width:85px;height:85px;background:url(img/tab-icon.png) no-repeat;}
.home_tab ul li.active span.icon_job{width:110px;height:110px;background-position:0 100%;}
.home_tab ul li span.icon_profile{background-position:31% 0;}
.home_tab ul li.active span.icon_profile{background-position:33% 100%;width:110px;height:120px;}
.home_tab ul li span.icon_partner{background-position:64% 0;}
.home_tab ul li.active span.icon_partner{background-position:69% 100%;width:110px;height:110px;}
.home_tab ul li span.icon_support{background-position:95% 0;}
.home_tab ul li.active span.icon_support{background-position:102% 100%;height:125px;width:110px;}
.job_opening.container{max-width:1445px;}
.job_opening h2{font-family:'slim_joeregular';font-size:44px;color:#fff;text-align:center;letter-spacing:-0.75px;}
.job_listings{}
.job_listings .position{float:left;width:34%;max-width:430px;padding-right:10px;}
ul.job_listings, ul.resumes{position:relative;background:none;border:none;max-height:545px;overflow:auto;scrollbar-face-color:#367CD2;clear:both;}
div.job_listings{padding:0px 22px 20px 20px;background:url(img/job-listing-bg.png) no-repeat;position:relative;background-size:cover;}
li.type-job_listing .position h3, li.type-resume .position h3 h3{color:#ff6600;font-size:21px;font-family:'HelveticaNeueLTPro-Lt';text-shadow:0px 1px rgba(64, 64, 64, 0.79);margin-top:25px;margin-bottom:45px;text-transform:uppercase;}
li.type-job_listing .location, li.type-resume .location{float:left;width:19%;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%);padding-right:2%;display:block;}
li.type-job_listing .location:before, li.type-resume .location:before{display:none;}
li.type-job_listing, li.type-resume{ display:block;   position: relative;padding:5px 40px 30px;border:none;margin-bottom:40px;border-radius:30px;background:#fff url(img/bg-gray.png) no-repeat left bottom;}
li.type-job_listing.highlight, li.type-resume.highlight{background:#fff url(img/bg-orange.png) no-repeat left bottom;}
.job_listings ul.job_listings .job_listing:hover, .job_listings .job_position_featured, li.type-resume:hover{box-shadow:none;background:#fff url(img/bg-gray.png) no-repeat left bottom;}
.job_listings ul.job_listings .job_listing.highlight:hover, .job_listings .job_position_featured, li.type-resume:hover{background:#fff url(img/bg-orange.png) no-repeat left bottom;}
.job_listings .mCSB_inside > .mCSB_container{margin-right:70px;}
.job_listings .mCSB_scrollTools .mCSB_draggerContainer{background-color:rgba(255, 255, 255, 0.75);}
.job_listings .mCSB_scrollTools .mCSB_buttonUp,
.job_listings .mCSB_scrollTools .mCSB_buttonDown,
.job_listings .mCSB_scrollTools .mCSB_buttonLeft,
.job_listings .mCSB_scrollTools .mCSB_buttonRight{background:#fff url(img/scroll-top.png) no-repeat center;height:45px;width:40px;left:-5px;border:1px solid #7c7c7c;}
.job_listings .mCSB_scrollTools{right:12px;}
.job_listings .mCSB_scrollTools a + .mCSB_draggerContainer{margin:45px 0;}
.job_listings .mCSB_scrollTools{width:30px;}
.job_listings .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{margin:0px;left:0px;}
.job_title{float:left;width:15%;padding-right:10px;}
.job_listings .brand{float:left;width:20%;padding-right:20px;}
.job_listings .application{float:left;width:13%;}
.job_listings .comp_log{float:right;width:13%;text-align:right;}
.job_listings .comp_log img.company_logo{width:auto;max-height:100px;    top: 46%;  position: relative; -webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);}
.job_listings ul li label{width:100%;display:inline-block;color:#ff6600;font-size:18px;font-family:'HelveticaNeueLTPro-Lt';font-weight:normal;text-transform:none;padding-left:50px;border-left:2px solid #acacac;margin-bottom:15px;}
.application_button.button{padding:5px 20px;color:#fff;font-size:21.94px;font-family:'HelveticaNeueLTPro-MdCn';background:#ff6600;border-radius:20px;font-weight:normal;box-shadow:0 3px 3px #828282;border:none;/*margin-top:22%;*/line-height:22px;text-transform:uppercase;display:inline-block;    position: absolute;  top: 38%; transform: translateY(-50%);}
.single_job_listing .application_button.button{margin-top:0px;}
.application_button.button:hover{background:#636363;border:none;color:#fff;}
.custom_filter{float:left;margin-left:165px;margin-bottom:40px;display:none;}
.home .custom_filter{display:block;}
.custom_filter label{float:left;width:auto;font-size:21px;font-family:'HelveticaNeueLTPro-ThCn';color:#fff;-webkit-transform:translateY(54%);-moz-transform:translateY(54%);transform:translateY(54%);text-transform:uppercase;}
.custom_filter ul{float:left;margin-top:13px;padding-left:25px;}
.custom_filter ul li{float:left;margin-right:10px;}
.custom_filter ul li a{background:#fff;padding:4px 30px 3px 30px;color:#00265e;font-family:'HelveticaNeueLTPro-Lt';font-size:18px;border-radius:8px;font-weight:bold;}
.job_listing .read_more{position:relative;left:10px;bottom:-5px;padding:9px 12px;background-color:#fff;box-shadow:0 3px 9px #949494;border-radius:15px;font-family:HelveticaNeueLTPro-Lt;font-size:21px;font-weight:bold;color:#00265e;}
.job_rs{padding-left:50px;font-size:20px;font-family:'HelveticaNeueLTPro-Lt';color:#011431;}
.home_content .vc_col-sm-7.what_we_video .wpb_wrapper{max-width:780px;float:left;}
.video_gallary{width:100%;margin-bottom:3px;border-bottom:4px solid #fff;}
.home_content .vc_col-sm-7 .video_gallary p{padding:0px;}
.what_we_video .wpb_single_image{float:left;width:33.33%;text-align:center;padding:20px;background:#fff;margin-bottom:0px;}
.what_we_video .wpb_single_image .vc_single_image-wrapper{position:relative;}
.what_we_video .wpb_single_image .vc_single_image-wrapper:before{content:'';background:url(img/video_play.png) no-repeat;width:96px;height:96px;position:absolute;bottom:-50px;left:50%;margin-left:-48px;}
.brand_list{max-height:630px;}
.brands h2{font-size:50px;color:#fff;font-family:'slim_joeregular';text-align:center;}
.brands h3{font-size:23px;color:#000;font-family:'HelveticaNeueLTPro-ThCn';margin:0px;}
.brands p{font-size:12px;color:#000;font-family:'HelveticaNeueLTPro-ThCn';font-weight:bold;line-height:14px;letter-spacing:1px;}
.brands .vc_col-sm-6{background:#fff;padding:7px 50px 15px;border-radius:60px;max-width:580px;margin:35px 45px 0px;min-height:240px; cursor:pointer;}
.brands .vc_col-sm-6:last-child{margin-left:0px;}
.brands .wpb_single_image.vc_align_left{float:left;margin-bottom:15px;}
.brands .wpb_single_image.vc_align_right{float:right;margin:10px 12px 15px 0px;}
.support_service .container, .support_service.container{max-width:1330px;margin:0 auto;}
.support_service h3{font-size:36px;color:#fff;font-family:'slim_joeregular';text-align:center;}
.support_heading p{font-family:'HelveticaNeueLTPro-Bd';font-size:18px;color:#fff;font-weight:bold;text-transform:uppercase;line-height:18px;}
.support_heading .wpb_content_element{padding:25px 40px;text-align:center;box-shadow:0px 1px 5px #232323;z-index:9999;position:relative;}
.support_tab{max-height:410px;max-width:1270px;margin:0 auto;float:none;background-color:#fff;padding:40px 40px 40px 45px;border-radius:0px 0px 40px 40px;}
.support_tab > .wpb_wrapper, .support_tab .mCSB_container > .wpb_wrapper{background:#fff;}
.support_tab img{margin:5px 20px 5px 15px;}
.support_tab strong{font-family:'HelveticaNeueLTPro-Bd';font-size:16px;color:#011433;}
.support_tab p{font-family:'HelveticaNeueLTPro-Lt';font-size:16px;color:#000;}
.support_tab h4{font-family:'HelveticaNeueLTPro-Lt';font-size:24px;color:#000;text-transform:uppercase;}
.support_tab h4 strong{font-family:'HelveticaNeueLTPro-Bd';font-size:24px;color:#011433;text-transform:uppercase;}
.support_tab .mCSB_inside > .mCSB_container{margin-right:60px;}
.apply_btn{padding:15px 20px 14px;background:#001f4e;text-decoration:underline;font-family:'HelveticaNeueLTPro-Bd';font-size:24px;color:#fff;border-radius:30px;}
.apply_btn img{vertical-align:top;border-bottom:2px solid #fff;margin:0px;padding:5px 5px 3px;}
.apply_btn:hover img{border-bottom:none;}
.hide_tab{display:none;}
.active.hide_tab{display:block;}
.tab_list{display:none;}
.hide{display:none;}
.que_detail{clear:both;margin-left:75px;padding-right:120px;}
.hide_content{display:none;}
.job_desc{display:none;position:absolute;width:1260px;height:700px;top:0;left:2%;text-align:left;background-color:#fff;z-index:99999;border-radius:30px;overflow:hidden;box-shadow:0 1px 10px #888;padding-bottom:20px;}
.upload_video img{cursor:pointer;}
.upload_video .video_file{display:none;}
.loc_gallary{padding:0px 30px 0px 10px;max-width:583px;}
.slick-slider .slick-arrow{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:21px;height:54px;margin-top:-27px;padding:0;cursor:pointer;color:transparent;border:none;outline:none;background:url(img/slider_arrow.png) no-repeat;z-index:99; opacity: 0.7;}
.slick-slider .slick-arrow:hover {
	opacity: 1;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.slick-initialized .slick-slide{margin:0px 5px;height:auto;}
.slick-prev.slick-arrow{left:-20px}
.slick-next.slick-arrow{background-position:100%;right:0px;}
.brands .mCSB_scrollTools{width:30px;}
.brands .mCSB_scrollTools a + .mCSB_draggerContainer{background-color:rgba(255,255,255,0.75);margin:30px 0;}
.brands .mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:15px;height:23px !important;left:3px;margin:0px;}
.brands .mCSB_scrollTools .mCSB_draggerRail{float:right;margin-right:11px;}
.brands .mCSB_scrollTools .mCSB_buttonUp, .brands .mCSB_scrollTools .mCSB_buttonDown{background:#fff url(img/scroll-top.png) no-repeat center;height:28px;}
.blog #page{background:#efefef;}
.blog .container{max-width:915px;padding:0px;}
.blog header{background:url(img/header-bg.png) no-repeat;background-size:cover;max-height:80px;}
.blog header .site-branding{padding-left:15px;}
.blog .blog-archive{padding:45px 30px 30px;background:#fff;margin-top:0px}
.blog .blog-archive .entry.col-md-8{max-width:535px}
.blog .blog-archive .col-md-4{max-width:240px;padding:0px;min-width:240px;float:right;margin-top:0px;}
.blog .blog-archive h2{color:#00186d;font-family:'HelveticaNeueLTPro-Cn';font-size:34px;text-transform:uppercase;margin-bottom:16px;}
.blog .blog-archive h3{color:#00186d;font-family:'HelveticaNeueLTPro-Cn';font-size:14px;text-transform:uppercase;margin:0px;margin-bottom:9px;}
.blog .blog-archive h3.sidebar-widget-title{color:#001f4d;font-size:32px;font-family:MyriadPro-Regular;text-align:right;border-bottom:2px solid #acacac;margin-bottom:15px;}
.blog .blog-archive h2 a, .blog .blog-archive h3 a{color:#00186d;}
.blog .blog-archive p{color:#000;font-size:14px;font-family:'HelveticaNeueLTPro-ThCn';letter-spacing: 1px;}
.blog .blog-archive .rpwe-summary{display:inline-block;font-family:'HelveticaNeueLTPro-ThCn';font-size:14px;color:#000;text-align:justify;line-height:14px; letter-spacing: 1px;}
.blog .blog-archive .more-link{display:none;}
.blog-archive .hentry.post{margin-bottom:25px;padding-bottom:7px;border-bottom:1px solid #acacac;}
.blog-archive .hentry.post:last-child{border:none;}
.blog-archive .entry-feature{margin-bottom:10px;}
.blog-archive .post_date, .blog-archive .post_comment{float:left;font-family:'HelveticaNeueLTPro-ThCn';font-size:14px;color:#000;line-height:15px;}
.blog-archive .post_date span{width:30px;height:35px;float:left;background:url('img/blog-icon.png') no-repeat;margin:0 15px;}
.blog-archive .post_comment span{width:30px;height:30px;float:left;background:url('img/blog-icon.png') no-repeat;background-position:100%;margin:-4px 10px 0 5px;}
.blog-archive ul.rpwe-ul li{padding-bottom:20px;margin-bottom:15px;background:url('img/blog_bg.png') repeat-x bottom;clear:both;float:left;}
.blog-archive ul.rpwe-ul li:last-child{background:none;}
.blog-archive .col-md-4 .widget{display:inline-block;margin-bottom:15px;width:100%;}
.blog-archive .col-md-4 .widget li:not(.rpwe-li){text-align:right;clear:both;width:100%;float:left;}
.blog-archive .social{float:right;}
.rpwe-thumb{margin:0px 5px 0px 0;}
.rpwe-time{color:#bbb;font-size:11px;}
.rpwe-comment{color:#bbb;font-size:11px;padding-left:5px;}
.rpwe-alignleft{display:inline;float:left;}
.rpwe-alignright{display:inline;float:right;}
.rpwe-aligncenter{display:block;margin-left:auto;margin-right:auto;}
.rpwe-clearfix:after{clear:both;}
.rpwe-clearfix{zoom:1;}
.blog-archive .jaw_years{font-size:32px;color:#000;font-family:'MyriadPro-Regular';}
.jaw_widget li{margin:0px;}
.jaw_widget li.jaw_months{background:url(img/dot.png) no-repeat center right;padding-right:10px;}
.jaw_widget li.jaw_months a{display:block;font-size:21px;color:#3c3c3c;font-family:'MyriadPro-Regular';}
.post .addtoany_share_save_container, .blog-archive .addtoany_share_save_container{float:right;margin:0;}
.blog #comments{margin-left:0;padding:0;}
#reply-title{margin:0px 0 10px;}
#commentform input[type=text]{width:100%;padding:8px 11px;}
#searchform{width:100%;max-width:335px;float:right;position:relative;margin-top:20px;}
#searchform #s{width:100%;background:#f2f2f2;border-radius:30px;padding:11px 43px;text-align:center;color:#000;}
#searchform button, #searchform input[type=submit]{position:absolute;left:1px;top:2px;background:url(img/search-icon.png) no-repeat;border:none;height:40px;}
#searchform button:hover, #searchform input[type=submit]:hover{background:url(img/search-icon.png) no-repeat;}
#searchform button .icon-search{display:none;}
.page-header h1{margin-bottom:20px;}
.tml-login{max-width:315px;padding:30px 15px;background:#ededed;border-radius:10px;}
.entry-content #loginform{width:100%;}
.tml-rememberme-wrap{float:left;}
.tml-action-links{float:right;margin:0;padding:0;}
.tml-user-login-wrap, .tml-user-pass-wrap{margin-bottom:15px;}
.tml-rememberme-wrap{margin-bottom:40px;}
.tml-submit-wrap{clear:both;margin:0px;}
.tml-submit-wrap #wp-submit{background-color:#002358;width:100%;border-radius:0;font-family:HelveticaNeueLTPro-Lt;text-transform:none;font-size:22px;font-weight:normal;padding:10px;border:none;}
.tml-submit-wrap #wp-submit:hover{background:#f46200;color:#fff;}
.tml-login .input{padding:13px 13px 13px 65px;border-radius:0px;border:1px solid #cfcfcf;color:#002358;}
.tml-user-login-wrap #user_login{background:#fff url(img/user.png) no-repeat 25px;}
.tml-user-pass-wrap #user_pass{background:#fff url(img/password.png) no-repeat 25px;}
#main input[type="text"]:focus,#main input[type="password"]:focus, #main #wp-submit:hover, #main input[type="submit"]:hover{border-color:#f46200;}
.tml-rememberme-wrap label{text-transform:capitalize;color:#6c6c6c;font-family:HelveticaNeueLTPro-Bd;}
.tml-action-links a{color:#6c6c6c;font-family:HelveticaNeueLTPro-Bd;}
.tml-rememberme-wrap{position:relative;}
.tml-rememberme-wrap span{width:18px;height:18px;background:url(img/checkbox-login-uncheck.png) no-repeat;float:left;margin-right:15px;margin-top:3px;}
.tml-rememberme-wrap.check span{background:url(img/checkbox-login.png) no-repeat;}
.tml-rememberme-wrap #rememberme{width:18px;height:18px;position:absolute;left:0;opacity:0;}
.page-id-2480 #content{background:none;}
.site-footer{color:#000;background:#fff;}
.footer-widgets{background:#fff;box-shadow:inset rgba(134,134,134,1) 0 4px 0;}
.site-footer a{color:#000;}
.site-footer a:hover{color:#f46200}
.footer-widget #wp-calendar caption, .footer-widget-title{color:#001f66;font-weight:bold;}
.copyright{box-shadow:inset rgba(134,134,134,0.3) 0 4px 0;}
.landing_page{width:100%;height:950px;background:url(img/landing-img.jpg) no-repeat;position:relative;}
.lan_overlay{width:100%;height:100%;background:#020060;opacity:0.75;position:absolute;top:0;z-index:-1}
.lan_middle{height:795px;-webkit-box-shadow:inset 1px -54px 262px -33px rgba(0,0,0,0.75);-moz-box-shadow:inset 1px -54px 262px -33px rgba(0,0,0,0.75);box-shadow:inset 1px -54px 262px -33px rgba(0,0,0,0.75);text-align:center;padding-top:175px;border-bottom:2px solid #fff;}
.lan_middle h1{margin-top:135px;color:#fff;font-weight:normal;font-family:'HelveticaNeueLTPro-Md';font-size:60px;text-shadow:-3px 5px rgb(43, 42, 42);}
.lan_middle h2{font-family:'slim_joeregular';color:#fff;font-size:50px;line-height:47px;letter-spacing:0.25px;margin:0;}
.lan_footer{text-align:center;}
.enter_site{width:400px;height:120px;margin-top:-80px;position:relative;margin-bottom:15px;background:-moz-linear-gradient(top, rgba(68,123,192,0.7) 0%,rgba(41,137,216,1) 60%,rgba(68,123,192,1) 100%,rgba(71,125,194,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,123,192,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(68,123,192,1)), color-stop(100%,rgba(71,125,194,1)));background:-webkit-linear-gradient(top, rgba(68,123,192,0.7) 0%,rgba(41,137,216,1) 60%,rgba(68,123,192,1) 100%,rgba(71,125,194,1) 100%);background:-o-linear-gradient(top, rgba(68,123,192,0.7) 0%,rgba(41,137,216,1) 60%,rgba(68,123,192,1) 100%,rgba(71,125,194,1) 100%);background:-ms-linear-gradient(top, rgba(68,123,192,0.7) 0%,rgba(41,137,216,1) 60%,rgba(68,123,192,1) 100%,rgba(71,125,194,1) 100%);background:linear-gradient(to bottom, rgba(68,123,192,0.7) 0%,rgba(41,137,216,1) 60%,rgba(68,123,192,1) 100%,rgba(71,125,194,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#447bc0', endColorstr='#477dc2',GradientType=0);}
.enter_site:after{width:42px;height:42px;content:'';position:absolute;left:-42px;bottom:-2px;background:url(img/enter_left.png) no-repeat;}
.enter_site:before{width:42px;height:42px;content:'';position:absolute;right:-41px;bottom:0px;background:url(img/enter_left.png) no-repeat;background-position:100%;}
.site_left{padding:8px 0 0 20px;float:left;}
.site_left h3{font-size:44px;line-height:42px;letter-spacing:4px;color:#fff;font-family:'HelveticaNeueLTPro-Cn';text-transform:uppercase;border-right:2px solid #fff;position:relative;text-align:right;max-width:140px;padding-right:10px;margin:0;margin-top:10px;}
.site_left h3:after{content:'';width:0px;height:0px;border-top:17px solid transparent;border-bottom:17px solid transparent;border-left:22px solid #fff;position:absolute;top:30%;right:-22px;}
.enter_site h4{font-size:42px;color:#fff;font-family:'HelveticaNeueLTPro-Cn';font-weight:normal;text-transform:uppercase;border:1px solid #fff;display:inline-block;border-radius:20px;padding:0 20px;margin:25px 0 0 5px;}
.enter_site h6{font-size:18px;color:#fff;text-transform:uppercase;font-family:'HelveticaNeueLTPro-Cn';font-weight:normal;display:inline-block;margin:0;}
.logo_bottom{text-align:center;float:left;width:100%;}
.application_details{padding:20px;}
.application_details .mfp-close{right:15px;top:15px;}
.tml-lostpassword{max-width:500px;}
.tml-lostpassword .tml-user-login-wrap #user_login{padding:13px 13px 13px 65px;border-radius:0px;border:1px solid #CFCFCF;color:#002358;}
.modal{padding:20px;    padding-right: 50px;}
button.mfp-close{top:15px;right:15px;}
.job-manager-jobs td.job_title, .resume-manager-resumes td.resume_title{width:50%;}
button, input[type=button], input[type=reset], input[type=submit]{padding:10px 30px;}
.black_overlay{display:none;position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=80);}
.white_content{display:none;position:fixed;top:25%;left:25%;width:50%;height:50%;padding:16px;border:16px solid orange;background-color:white;z-index:1002;overflow:auto;}
#r_msg .error{border:1px solid;text-align:center;color:#f00;padding:5px 10px;background-color:rgba(195, 99, 99, 0.19);}
#r_msg .success{border:1px solid;text-align:center;color:green;padding:5px 10px;background-color:rgba(99, 195, 102, 0.19);}
.page-id-2069 #content, .post-type-archive-job_listing #content{background:none;}
.job_filters{padding-top:16px;margin-bottom:30px;}
.reg-step2 .form .line .inner input{padding-top:4px\9;}
.loading_job{width:100%; height:100%; background: rgba(255, 255, 255, 0.7) url(img/loading.gif) no-repeat center center; position: absolute; z-index: 99999;left: 0;}
.partner_link{display:none;}
.overcheckbox.field_error{border:1px solid #f00;}
.what_we_video .vc_images_carousel{    max-width: 100%;}
/* .centerer{display: inline-block; height: 100%; vertical-align: middle;}*/
.gallery_slider {}
.gallery_slider .item{position:relative;}
.gallery_slider .item a:before{
	content: '';
	background: url(img/video_play.png) no-repeat;
	background-size: 100%;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	opacity: 0.75;
	box-shadow: 0 0 10px #000;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.gallery_slider .item a img.wp-post-image {
	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.gallery_slider .item a:hover:before {
	opacity: 0.95;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.gallery_slider .item a:hover img.wp-post-image {
	border-color: rgba(255, 255, 255, 0.9);
}
.slick-slider .slick-track, .slick-slider .slick-list{padding-bottom: 26px; width: 100%; float: left; background: transparent; padding-top: 10px;}
.gallery_slider .slick-next.slick-arrow{margin-top: 90px; right: -25px;}
.gallery_slider .slick-prev.slick-arrow { left: -25px; margin-top: 90px;}

.brand_list .mCSB_scrollTools .mCSB_dragger {
	left: 11px;
}

.slider-video {
	padding: 20px 40px;
}

.slider-video .owl-stage-outer {
	clear: both;
}

.slider-video .wpb_image_grid .wpb_image_grid_ul .isotope-item {
	width: 100%;
}

.slider-video .wpb_image_grid .wpb_image_grid_ul a {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	border: 4px solid rgba(255,255,255,0.5);
	border-radius: 28px;
	position: relative;
}

.slider-video .wpb_image_grid .wpb_image_grid_ul a:before {
	content: '';
	background: url(img/video_play.png) no-repeat;
	background-size: 100%;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -25px;
	margin-left: -25px;
	opacity: 0.75;
	box-shadow: 0 0 10px #000;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.slider-video .wpb_image_grid .wpb_image_grid_ul a:hover {
	border: 4px solid rgba(255, 255, 255, 0.9);
}
.slider-video .wpb_image_grid .wpb_image_grid_ul a:hover:before {
	opacity: 0.95;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.slider-video .owl-item img {
	width: 100%;
}

.slider4 {
    overflow: auto;
    position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.job_listings .slick-slider button{
    margin-top: 35px;
}
.wpb_gallery.wpb_content_element.vc_clearfix.slider-video {
    visibility: hidden;
}

