/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
		.pop_header{padding:5px 30px 4px; background:#ff6600; width: 100%; display: inline-block;}
		.pop_header h4{display: inline-block; font-size:22px;font-family: 'HelveticaNeueLTPro-Lt'; color:#fff; margin: 0; text-transform: uppercase; font-weight: normal;}
		.pop_header ul{padding: 0px; margin: 0px; float: right;}
		.pop_header li{float:left; padding-left:10px;}
		.pop_header li a{font-size:20px;font-family: 'HelveticaNeueLTPro-Lt'; color:#fff;    line-height: 37px;}
		.pop_header li span{width:40px; height:40px; background:url(../img/pop_icon.png) no-repeat; float: right; margin-left:8px; margin-right:15px;}
		.pop_header li.print{border-right:2px solid #d5d5d5;}
		.pop_header li.save span{background-position: 60%;}
		.pop_header li.close span{ width:30px; height:30px; background-position: 100%; margin-right:25px; margin-top: 4px;}
		
		.pop_content{padding: 20px 30px; float: left; width: 100%;max-height: 650px; overflow: auto; }
		.pop_content .pop_left{width:49%; float:left;padding-right: 40px; border-right: 2px solid #acacac;}
		.pop_content .pop_right{width:51%; float:right; padding-left:35px; /*border-left: 2px solid #acacac;*/}
		.pop_content h5{font-size:18px;font-family: 'HelveticaNeueLTPro-Lt'; color:#ff6f0f; margin:10px 0 3px 0px;}
		.pop_content h3{font-size: 22px; font-family: 'HelveticaNeueLTPro-Lt'; color: #ff6f0f;  margin: 0 0 40px; text-transform: uppercase; line-height:22px;}
		.pop_content p{color:#011738; font-size:18px;font-family: 'HelveticaNeueLTPro-Lt'; margin-bottom:25px; line-height: 20px; font-weight: bold;}
		.pop_content .location_slider{margin:5px 0px 35px; }
		.pop_content .pop_acc{margin-bottom:25px}
		
		/* qa page */
		.page-id-2223 #cboxTopLeft{background:none;}
	    .page-id-2223 #cboxTopCenter{background:none;}
    	.page-id-2223 #cboxTopRight{background:none;}
	    .page-id-2223 #cboxBottomLeft{background:none;}
    	.page-id-2223 #cboxBottomCenter{background:none;}
	    .page-id-2223 #cboxBottomRight{background:none;}
    	.page-id-2223 #cboxMiddleLeft{background:none;}
	    .page-id-2223 #cboxMiddleRight, .page-id-2223 #cboxContent{background:none;}		
		.page-id-2223 #cboxWrapper {background: url(../img/popup_bg.png) no-repeat; padding: 0px; background-size: contain;}
		.page-id-2223 .image_gallary {padding: 70px 40px 30px 40px; max-height: 560px; overflow: hidden;}
		.page-id-2223 .slick-dots {margin-top: 10px;}
		.page-id-2223 .slick-dots li{float: left; margin: 0 8px; border-bottom: 1px solid #3a3a3a;}
		.page-id-2223 .slick-dots li button{background:none; padding:0px;color: #3a3a3a; font-family: 'HelveticaNeueLTPro-Cn'; font-size:30px;}
		.page-id-2223 .slick-dots li.slick-active{border-bottom:none;}
		
		@media screen and (-webkit-min-device-pixel-ratio:0) {
 		   ::i-block-chrome,.pop_header li a {line-height:50px; width:106%; display:block;}
		}