button{outline:none;font-family:'HelveticaNeueLTPro-Lt';}
h3, input{font-family:'HelveticaNeueLTPro-Lt';}
.commanbox, .reg-step1, .reg-step2, .register-start, .reg-step3, .reg-step5, .reg-step4{background-color:#FFF;max-width:1270px;width:100%;border-radius:15px;overflow:hidden;}
.sub-header{background-color:#dfe3e7;width:100%;padding:22px 0;display:inline-block;}
.sub-header .step-penal{height:45px;background-color:#00265e;border:1px #000 solid;border-radius:22px;float:left;margin-left:70px;overflow:hidden;}
.sub-header .step-penal .inactive{display:inline-block;margin:4px 0;border-right:2px #FFF solid;float:left;}
.sub-header .step-penal .active{display:inline-block;background-color:#ff6600;height:100%;float:left;padding:4px 0;}
.sub-header .step-penal .inactive:last-child{border:none;}
.sub-header .step-penal h5{color:#FFF;font-family:'HelveticaNeueLTPro-Roman';font-size:17px;padding:0 8px;margin:0;line-height:15px;}
.sub-header .step-penal h5 span{text-transform:uppercase;}
.sub-header .step-penal p{text-transform:uppercase;color:#FFF;font-size:17px;font-family:'HelveticaNeueLTPro-ThEx';padding:0 8px;margin:0px;}
.sub-footer{min-height:84px;padding:19px 85px;text-transform:uppercase;background-color:#dfe3e7;}
.sub-footer img{vertical-align:middle;padding-left:8px;}
.sub-footer button{font-size:24.22px;padding:10px 13px 13px;color:#00265e;cursor:pointer;text-transform:uppercase;float:right;}
.sub-footer a.nxt-step{font-size:24.22px;padding:9px 13px 6px 25px;color:#00265e;cursor:pointer;text-transform:uppercase;float:right;border-top-right-radius:20px;border-bottom-right-radius:20px;background-color:#ff6600;border:1px #000 solid;color:#FFF;}
.sub-footer button.save{background-color:#FFF;border:1px #000 solid;border-radius:20px;box-shadow:-1px 1px 1px 1px #a6a9ac;margin-right:-15px;position:relative;z-index:9;}
.sub-footer .edit-strip{background-color:#00265e;font-size:22px;font-family:'HelveticaNeueLTPro-Lt';display:inline-block;border:1px #000 solid;color:#FFF;padding:9px 26px 8px;margin-top:1px;float:right; display: none;}
.sub-footer button.nxt-step{border-top-right-radius:20px;border-bottom-right-radius:20px;background-color:#ff6600;border:1px #000 solid;border-left:none;color:#FFF;}
.reg-step1 .form, .reg-step2 .form{background-color:#fff;display:block;text-align:center;padding:22px 0;}
.reg-step1 .form .line, .reg-step2 .form .line{border-bottom:1px #adadad solid;padding:20px 0;width:100%;display:inline-block;max-width:1150px;}
.reg-step1 .form .line .inner, .reg-step2 .form .line .inner{max-width:1065px;}
.reg-step1 .form .line .inner p, .reg-step2 .form .line .inner p{float:right;margin:0;}
.reg-step1 .form .line:first-child, .reg-step2 .form .line:first-child{padding-top:0;}
.reg-step1 .form label, .reg-step2 .form label{height:42px;padding:5px 0px 9px;display:inline-block;float:left;background-color:#00265e;border-radius:2px 0px 0px 2px;color:#FFF;font:inherit;font-family:'HelveticaNeueLTPro-Lt';font-size:19.47px;text-align:center;text-transform:none;font-weight:inherit;}
.reg-step1 .form label[for="fullname"], .reg-step2 .form label[for="fullname"], .form .fullname{width:150px;padding:5px 0px 9px;}
.reg-step1 .form label[for="age"], .reg-step2 .form label[for="age"], .form .age{width:75px;}
.reg-step1 .form label[for="gender"], .reg-step2 .form label[for="gender"], .form label.gender{margin-left:26px;width:90px;}
.reg-step1 .form label[for="english"], .reg-step2 .form label[for="english"], .form .english{width:120px;}
.reg-step1 .form label[for="scndlang"], .reg-step2 .form label[for="scndlang"], .form .scndlang{width:160px;}
.reg-step1 .form label[for="level"], .reg-step2 .form label[for="level"], .form label.level{width:63px;margin-left:29px;}
.reg-step1 .form label[for="city"], .reg-step2 .form label[for="city"], .form .city{width:162px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{width:172px;}
.reg-step1 .form label[for="study-type"], .reg-step2 .form label[for="study-type"], .form label.study_type{width:180px;margin-left:55px;}
.reg-step1 .form label[for="exp"], .reg-step2 .form label[for="exp"], .form select.exp{width:146px;font-size:18.52px;}
.reg-step1 .form label[for="expinsel"], .reg-step2 .form label[for="expinsel"], .form .expinsel{width:175px;}
.reg-step1 .form label[for="position"], .reg-step2 .form label[for="position"], .form label.position{width:142px;margin-left:40px;}
.reg-step1 .form input[name="position"]{width:130px;}
.reg-step1 .form input, .reg-step2 .form input, .reg-step1 .form select, .reg-step2 .form select{width:inherit;height:42px;padding:8px 35px 6px 5px;float:left;background-color:#e9e9e9;border-left:none;font-family:'MyriadPro-Regular';font-size:20px;text-align:center;line-height:1.2;border-radius:inherit;-webkit-box-shadow:inset 0px 16px 5px -17px rgba(58, 58, 58, 0.44);-moz-box-shadow:inset 0px 16px 5px -17px rgba(58, 58, 58, 0.44);box-shadow:inset 0px 16px 5px -17px rgba(58, 58, 58, 0.44);border-color:rgb(204, 204, 204);}
.reg-step1 .form input[name="fullname"], .reg-step2 .form input[name="fullname"] , .form .fullname{width:270px;}
.reg-step1 .form select, .reg-step2 .form select{-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:'';background:#e9e9e9 url("../img/drop-down-arrow.png") no-repeat center;background-position:95%;}
.reg-step1 .form input{padding:10px 0px 6px;}
.reg-step2 .form input{padding:1px 0px 0px;}
.reg-step1 .form select[name="age"], .reg-step2 .form select[name="age"], .reg-step1 .form select.age{width:156px;font-size:14px;padding:13px 43px 9px 5px;}
.reg-step1 .form select[name="gender"], .reg-step2 .form select[name="gender"], .reg-step1 .form .gender{width:120px;}
.reg-step1 .form select[name="english"], .reg-step2 .form select[name="english"], .reg-step1 .form .english{width:150px;padding-left:12px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:190px;}
.reg-step1 .form select[name="level"], .reg-step2 .form select[name="level"], .reg-step1 .form select.level{width:170px;padding-left:10px;}
.reg-step1 .form input[name="city"], .reg-step2 .form input[name="city"], .reg-step1 .form .city{width:178px;}
.reg-step1 .form select[name="schooldegree"], .reg-step2 .form select[name="schooldegree"], .reg-step1 .form .schooldegree{width:120px;}
.reg-step1 .form input[name="study_type"], .reg-step2 .form input[name="study_type"], .reg-step1 .form .study_type{width:130px;}
.reg-step1 .form select[name="exp"], .reg-step2 .form select[name="exp"], .reg-step1 .form select.exp{width:157px;font-size:17.58px;padding-top:9px;padding-bottom:8px;padding-right:45px;}
.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel{width:168px;font-size:17.58px;padding-top:11px;padding-bottom:6px;}
{width:129px;}
.reg-step1 .form select[name="position"], .reg-step2 .form select[name="position"], .reg-step1 .form .position{width:145px;}
.reg-step1 .orenge, .reg-step2 .orenge{min-height:154px;background-color:#ff6600;position:relative;}
.reg-step1 .orenge h3{font-size:18px;}
.reg-step1 .orenge img.vartical-strip, .reg-step2 .orenge img.vartical-strip{position:absolute;top:11px;}
.reg-step1 .orenge .left, .reg-step2 .orenge .left{float:left;width:45%;color:#FFF;}
.reg-step1 .orenge .left h3, .reg-step2 .orenge .left h3{text-transform:uppercase;font-size:17px;display:inline-block;margin:0px;padding:19px 35px 12px 85px;font-weight:normal;}
.reg-step1 .orenge .left p, .reg-step2 .orenge .left p{font-size:14px;font-family:'HelveticaNeueLTPro-Lt';padding:0 35px 19px 85px;margin:0;line-height:16px;}
.reg-step1 .orenge .right, .reg-step2 .orenge .right{float:right;width:55%;}
.reg-step1 .orenge .right h3, .reg-step2 .orenge .right h3{color:#FFF;text-transform:uppercase;display:inline-block;margin:0;margin-left:130px;margin-top:38px;float:left;}
.reg-step1 .orenge .right img, .reg-step2 .orenge .right img{vertical-align:middle;display:inline-block;float:left;margin-top:38px;margin-left:10px;}
.reg-step1 .orenge .right .camera img, .reg-step2 .orenge .right .camera img{margin-top:30px;}
.reg-step1 .orenge .right input, .reg-step2 .orenge .right input{padding:11px 0 11px 60px;border-radius:20px;border:none;font-size:16px;margin-left:45px;float:left;width:284px;margin-top:28px;background:#fff url("../img/email-bg1.png") no-repeat left 5px center;}
.reg-step1 .orenge .right input:last-child, .reg-step2 .orenge .right input:last-child{margin-left:60px;background:#fff url("../img/telephone-bg1.png") 5px;background-repeat:no-repeat;}
.register-start{height:395px;display:block;}
.register-start .block{width:33.3333%;float:left;display:block;text-align:center;margin:44px 0;}
.register-start .block h3{color:#00265f;font-family:'HelveticaNeueLTPro-Bd';font-size:30px;margin:0;}
.register-start .block h3.gp_app{font-weight:normal;}
.register-start .block figure{width:100%;display:inline-block;margin:21px 0;}
.register-start .block figure img{clear:both;height:auto;}
.register-start .block button{float:none;width:153px;height:40px;border-radius:15px;background-color:#ff6600;color:#FFF;text-transform:uppercase;border:none;box-shadow:0px 2px 5px 1px #a8afb9;font-family:'HelveticaNeueLTPro-MdCn';font-size:16.44px;cursor:pointer;}
.reg-step2 .form{display:block;padding:0;}
.reg-step2 .form .line:first-child{padding-top:45px;}
.reg-step2 .form .line{padding:45px 0 0;position:relative;}
.reg-step2 .form .line .inner{text-align:left;margin-bottom:-20px;display:block;}
.reg-step2 .form .line .inner h3{color:#00265e;text-transform:uppercase;padding:0 0 10px 27px;font-size:25.85px;font-family:'HelveticaNeueLTPro-Lt';margin:0;}
.reg-step2 .form .line .inner input{padding-top:0px;padding-bottom:0px;border-radius:15px;width:100%;text-align:left;padding-left:21px;border:1px #000 solid;height:28px;margin-bottom:-15px;}
.reg-step2 .form .line .inner .limit{float:right;color:#7c7c7c;position:absolute;right:50px;bottom:-40px;}
.reg-step2 .form .last{padding:80px 0 25px;border-bottom:none;}
.reg-step2 .form .last .inner p{color:#00265e;font-size:20.41px;font-family:'HelveticaNeueLTPro-Lt';font-weight:bold;float:left;padding-left:20px;}
.reg-step2 .form .last .inner select{float:right;width:127px;font-size:17px;border:none;box-shadow:inset 0.5px 0.5px 2px 1px #b1b1b1;margin-top:-10px;}
.reg-step3 .innerbox, .reg-step5 .innerbox{display:block;background-color:#FFF;text-align:center;padding:45px 35px 5px;display:inline-block;}
.reg-step3 .innerbox h2, .reg-step5 .innerbox h2{font-size:36px;text-transform:uppercase;font-family:'slim_joeregular';font-weight:normal;color:#00265e;padding-bottom:50px;}
.reg-step3 .innerbox h4, .reg-step5 .innerbox h4{text-transform:uppercase;font-family:"HelveticaNeueLTPro-Lt";color:#00265e;font-size:19px;padding-bottom:21px;}
.reg-step3 .innerbox .sellingtip, .reg-step5 .innerbox .sellingtip{text-align:left;border-right:1px #adadad solid;width:30%;float:left;}
.reg-step3 .innerbox .sellingtip p, .reg-step5 .innerbox .sellingtip p{font-family:"HelveticaNeueLTPro-Lt";font-size:14px;padding-bottom:33px;padding-right:22px;color:#00265e;}
.reg-step3 .innerbox .exv, .reg-step5 .innerbox .exv{text-align:left;border-right:1px #adadad solid;width:35%;float:left;}
.reg-step3 .innerbox .exv h4, .reg-step5 .innerbox .exv h4{padding-bottom:10px;padding-left:15px;font-weight:normal;padding:0 0 0 30px;}
.reg-step3 .innerbox .exv .video, .reg-step5 .innerbox .exv .video{border-radius:37px;border:1px #9d9ecc solid;display:inline-block;padding:7px;float:left;position:relative;margin:0 0 50px 30px;}
.reg-step3 .innerbox .exv button, .reg-step5 .innerbox .exv button{background-color:transparent;border:none;position:absolute;left:50%;margin-left:-40px;bottom:-45px;padding:0;}
.reg-step3 .innerbox .uploadvid, .reg-step5 .innerbox .uploadvid{width:34%;float:left;text-align:center;}
.reg-step3 .innerbox .uploadvid .inner, .reg-step5 .innerbox .uploadvid .inner{padding:5px 20px 0 10px;}
.reg-step3 .innerbox .uploadvid .inner h3, .reg-step5 .innerbox .uploadvid .inner h3{text-transform:uppercase;font-size:29px;font-weight:bold;color:#00265e;}
.reg-step3 .innerbox .uploadvid .inner h3 span, .reg-step5 .innerbox .uploadvid .inner h3 span{color:#ffbc79;}
.reg-step3 .innerbox .uploadvid .inner figure, .reg-step5 .innerbox .uploadvid .inner figure{width:100%;display:inline-block;padding-top:11px;}
.reg-step4 .sub-header h3{margin-top:-15px;margin-bottom:-15px;}
.reg-step5 .innerbox{padding:5px 35px 5px;}
.reg-step5 .innerbox h3{font-size:26px;margin:0 140px;color:#00265e;}
.reg-step5 .innerbox .block{float:left;position:relative;text-align:left;}
.reg-step5 .innerbox .block figure{width:100%;text-align:center;margin-top:17px;}
.reg-step5 .innerbox .block h4{text-transform:none;color:#00265e;padding:30px 0 35px 35px;font-size:24px;margin:0;}
.reg-step5 .innerbox .block p{color:#00265e;padding:0 35px 16px 35px;}
.reg-step5 .innerbox .block:after{height:217px;right:0;width:1px;background-color:#adadad;content:'';top:20px;position:absolute;}
.reg-step5 .innerbox .block:nth-child(2){width:28%;}
.reg-step5 .innerbox .block:nth-child(2) p, .reg-step5 .innerbox .block:nth-child(2) h4{padding-left:5px;}
.reg-step5 .innerbox .block:nth-child(3){width:34%;}
.reg-step5 .innerbox .block:last-child{width:37%;border-right:none;}
.reg-step5 .innerbox .block:last-child:after{display:none;}
.reg-step5 .orenge{background-color:#ff6600;min-height:86px;}
.reg-step5 .orenge .inner{text-align:center;padding-top:25px;}
.reg-step5 .orenge h3{color:#FFF;font-size:28px;font-weight:normal;margin:0px;}
.reg-step4 .form{padding:90px 0px 50px 0px;}
.reg-step4 h3{margin:0px;}
.register_step h2.rg_title{margin:0px;font-family:'slim_joeregular';font-size:57.14px;color:#fff;font-weight:normal;letter-spacing:-2px;padding-top:30px;}
.reg-step4{}
.reg-step4 .inner_block{padding:25px 85px;max-height:465px;padding-right:50px;}
.reg-step4 .inner_block .block{width:99%;box-shadow:2px 3px 1px 1px #DDD;padding:5px 0;margin:5px 0;border-radius:20px;display:inline-block;}
.reg-step4 .inner_block .block input[type="checkbox"]{width:40px;height:40px;padding:0 10px;position:absolute;top:0px;left:0px;opacity:0;cursor:pointer;}
.reg-step4 .inner_block .block span.overcheckbox{width:40px;height:40px;position:relative;float:left;background-color:#dfe3e7;border-radius:5px;background:url(../img/checkbox-gray.png) no-repeat;margin-left:15px;}
.reg-step4 .inner_block .block span.overcheckbox.check{background:url(../img/checkbox-blue.png) no-repeat;}
.reg-step4 .inner_block .block h4{float:left;padding-left:20px;max-width:800px;font-size:18px;color:#00265e;margin:0px;width:100%;clear:none;margin-top:10px;}
.reg-step4 .inner_block .block button{float:right;margin:7px 6px 0 0;border:0;background-color:#ff6600;border-radius:20px;padding:6px 10px;text-transform:uppercase;color:#FFF;font-weight:bold;}
.reg-step4 .mCSB_inside > .mCSB_container{margin-right:60px}
.form h3{margin:0px;text-align:left;float:left;}
.reg-step1 .form .remove_form{float:right;background-color:#00265e;color:#fff;padding:3px 10px;border-radius:4px;cursor:pointer;border:none;font:400 17px "Varela Round",Helvetica,sans-serif;}
.add_from_btn .add_form{float:right;background-color:#00265e;color:#fff;padding:3px 10px;border-radius:4px;cursor:pointer;}
.add_from_btn{width:100%;display:none;max-width:1065px;}
.reg-step1 .form .line .inner p.pass{float:left;margin-left:40px;}
.reg-step1 .form p.pass label{padding:7px;}
select::-ms-expand{display:none;}
.reg-step1 .orenge .right input.field_error.require{background-color:rgba(239, 6, 6, 0.89);color:#fff;}
.reg-step1 .form select.field_error{border:1px solid #f00;}
.sub-header .step-penal > div:first-child{padding-left:10px}
.sub-header .step-penal > div:last-child{padding-right:5px}
.reg-step1 .form select[name="age"], .reg-step2 .form select[name="age"], .reg-step1 .form select.age{(;padding:13px 43px 11px 5px;);}
.reg-step1 .form select[name="exp"], .reg-step2 .form select[name="exp"], .reg-step1 .form select.exp{(;padding-bottom:10px;);}
.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel{(;padding-bottom:8px;padding-top:11px;);}
.reg-step1 .form select[name="english"], .reg-step2 .form select[name="english"], .reg-step1 .form .english{(;padding-bottom:8px;);}
.reg-step1 .form input, .reg-step2 .form input, .reg-step1 .form select, .reg-step2 .form select{(;padding:8px 35px 8px 5px;);}
.reg-step1 .form input[name="study_type"], .reg-step2 .form input[name="study_type"], .reg-step1 .form .study_type{(;width:130px;);}
.reg-step1 .form label, .reg-step2 .form label{(;padding:7px 0px 7px;);}
.reg-step1 .form input, .reg-step2 .form input, .reg-step1 .form select, .reg-step2 .form select{(;padding:6px 35px 10px 5px;);}
.reg-step2 .form .line .inner input{padding-top:4px\9;}
.reg-step1 .form input.position_input{width: 168px;}