.news_page .vc_col-sm-12{padding:0;}
.site-header.header_2 .container{padding:9px 15px;}
.site-header.header_2 .site-title:after{top:0;bottom:0;margin:auto 0;}
@media (max-width:1499px){.site-branding, .site-description{width:21%;padding-top:12px;}
.site-primary-navigation ul li.menu_btn a{font-size:20px;}
.home_tab ul li{margin:0px;width:25%;}
.home_tab ul{padding:0;}
.blog header .site-branding{width:28%;padding:0;}
}
@media (max-width:1399px){.site-branding, .site-description{width:17%;}
.site-header.header_2 .site-title{padding-right:15px;}
.rec_job ul li h4{min-height:92px;}
.home_content{padding-bottom:50px;}
.news_page{left:0 !important;width:100% !important;padding:0 30px;}
.site-primary-navigation ul li.qa a{right:10px;}
.news_page h1{font-size:40px;}
.primary-menu-toggle{display:none;}
.header_ #searchform{margin-top:8px;}
.home .top_header{margin-left:0;}
ul.nav-menu-primary{margin:8px 0 16px 0;padding:0;float:left;}
.site-header.header_2 .site-primary-navigation ul li{float:left;margin-left:16px;}
.rec_job ul li h4,.site-primary-navigation ul li.menu_btn a{font-size:14px;}
.home_content h1{font-size:42px;}
.site-header.header_2 .header_two_btn{margin-top:10px;}
.brands .vc_col-sm-6{width:50%;float:left;padding:7px 30px 15px;margin:30px 15px 0px;}
.home_content p{padding:0 15px 0 0;}
.wpb_wrapper .wpb_row,.header_ .site-title{margin:0;}
.blog .header_ .container{padding:10px 15px;}
.brands .vc_col-sm-6{width:47%;padding:7px 25px 15px;max-width:inherit;margin:35px 15px 0px;}
.vc_btn3-container.vc_btn3-center{margin-bottom:25px;}
.job_desc{width:100%;height:auto;}
.reg-step1 .form select[name="gender"], .reg-step2 .form select[name="gender"], .reg-step1 .form .gender{width:120px;}
.site-header.header_2 .site-primary-navigation{padding-left:15px;}
a.btn{font-size:26px;}
.blog .site-footer .container{padding:0px 15px;}
.vc_custom_1445589527030{margin-right:0px !important;}
}
@media (max-width:1199px){.what_we_video .wpb_single_image .vc_single_image-wrapper:before{width:60px;height:60px;bottom:-41px;background-size:contain;margin-left:-30px;}
.home_tab ul li{min-width:184px;}
.home_tab ul li .tab_title{max-width:204px;}
.home_tab ul li .tab_title a{font-size:16px;line-height:20px;}
.home_content h1{font-size:28px;margin:0px 0 25px 0px;}
.primary-menu-toggle{right:-48px;}
.site-header.open .site-branding{float:left;}
.box_gray{padding:60px 30px 50px;}
.site-primary-navigation{display:block;position:absolute;right:0;float:left;top:50%;-webkit-transform:translatey(-50%);-moz-transform:translatey(-50%);transform:translatey(-50%);}
.site-primary-navigation #searchform{display:none;}
.site-primary-navigation ul li.qa,.reg-step1 .orenge .right input:last-child, .reg-step2 .orenge .right input:last-child,.sub-header .step-penal{margin-left:15px;}
.site-branding{width:29%;padding-top:0;}
.brands h2{font-size:36px;}
.site-primary-navigation ul li.qa a{right:-5px;}
.site-primary-navigation ul li.qa{width:115px;}
.site-header.header_2 .site-primary-navigation ul li{margin-left:12px;}
.site-header.header_2 .header_logo{display:none;}
.site-header.header_2 .header_two_btn{margin-top:4px;}
.header_ ul.nav-menu-primary{margin:36px 0 16px 0;}
.page .news_page h1.qa_title{background-size:78%;}
.page .news_page h1.qa_title{font-size:30px;background-size:contain;padding-top:15px;height:100px;min-width:98px;}
.job_opening h2{font-size:26px;margin:0 0 25px 0;}
a.btn,.support_tab h4,.reg-step5 .orenge h3{font-size:20px;}
li.type-job_listing.highlight{padding:5px 15px 30px;}
.custom_filter{margin-left:0;width:100%;}
.register_step h2.rg_title{font-size:40.14px;}
.job_rs{min-height:38px;}
.job_rs,li.type-job_listing .position h3, li.type-resume .position h3 h3{font-size:16px;}
.register-start .block h3{font-size:24px;}
.hide_tab,.home_content .vc_col-sm-7{padding:0 15px;}
.reg-step1, .reg-step2, .register-start, .reg-step3, .reg-step5, .reg-step4{padding:0px;}
.list_form{padding:15px;}
.reg-step1 .form label[for="study-type"], .reg-step2 .form label[for="study-type"], .form label.study_type{width:156px;margin-left:30px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{width:160px;}
.reg-step1 .form label[for="city"], .reg-step2 .form label[for="city"], .form .city{width:145px;}
.reg-step1 .form label[for="exp"], .reg-step2 .form label[for="exp"], .form .exp{width:135px;}
.reg-step1 .form label[for="expinsel"], .reg-step2 .form label[for="expinsel"], .form .expinsel{width:130px;}
.reg-step1 .form label[for="position"], .reg-step2 .form label[for="position"], .form label.position{width:122px;margin-left:16px;}
.reg-step1 .orenge .right input, .reg-step2 .orenge .right input{margin:15px 0 0 15px;width:245px;}
.reg-step1 .orenge .right h3, .reg-step2 .orenge .right h3{margin-left:20px;}
.reg-step1 .orenge .left h3, .reg-step2 .orenge .left h3{font-size:13px;padding:12px 15px 12px 15px;}
.reg-step1 .orenge .left p, .reg-step2 .orenge .left p{font-size:14px;padding:0 15px 19px 15px;}
.reg-step1 .form label, .reg-step2 .form label,.reg-step1 .form label[for="exp"], .reg-step2 .form label[for="exp"], .form .exp,.reg-step1 .orenge .right input, .reg-step2 .orenge .right input{font-size:13px;}
.reg-step1 .form select[name="exp"], .reg-step2 .form select[name="exp"], .reg-step1 .form .exp,.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel,.reg-step1 .form input, .reg-step2 .form input{font-size:13.58px}
.reg-step1 .form select[name="level"], .reg-step2 .form select[name="level"], .reg-step1 .form select.level{padding-left:0;}
.reg-step1 .form select,.reg-step2 .form select{font-size:14px;}
.reg-step1 .form select[name="age"], .reg-step2 .form select[name="age"], .reg-step1 .form .age{padding:10.2px 0;}
.reg-step2 .form .last .inner p{padding-left:0;}
.reg-step2 .form .line .inner h3{font-size:19.85px;}
.reg-step3 .innerbox h2, .reg-step5 .innerbox h2{font-size:25px;padding-bottom:0;margin:0px 0 30px 0;}
.reg-step3 .innerbox .exv .video, .reg-step5 .innerbox .exv .video{margin:0 15px 50px 15px;}
.reg-step3 .innerbox .exv .video img, .reg-step5 .innerbox .exv .video img{width:100%;}
.reg-step3 .innerbox .uploadvid .inner h3, .reg-step5 .innerbox .uploadvid .inner h3,.home_content p{font-size:18px;}
.reg-step5 .orenge,.home #page{min-height:inherit;}
.reg-step5 .orenge .inner{padding:15px 0;}
.who_we.bg_bottom{background-position:right top;}
.who_we{min-height:358px;}
li.type-job_listing, li.type-resume{padding:5px 15px 30px;}
.job_listings .application{float:inherit;max-width:inherit;}
.reg-step3 .innerbox .sellingtip p,.reg-step3 .innerbox h4{padding-bottom:0;}
.reg-step5 .innerbox .block h4{padding:15px;margin:0;}
.reg-step5 .innerbox .block p{padding:0 15px 16px 15px;}
.support_tab h4,.wpb_wrapper p{font-size:17px !important;}
.vc_custom_1444717412444{margin-bottom:35px !important;}
.vc_custom_1444717078358{margin-bottom:20px !important;}
.vc_custom_1444469525007{margin-left:0 !important;}
.reg-step1 .orenge{min-height:195px;}
.blog .blog-archive h2{font-size:30px;}
.home_content{padding-bottom:20px;}
.job_listings .application{max-width:100%;float:left;}
.home_tab ul li.sin_line:first-child .tab_title{padding:20px;}
.reg-step2 .form{max-width:95%;}
.brands .vc_col-sm-6{width:100%;max-width:95%;}
.brands .vc_col-sm-6:last-child{margin:35px 15px 0;}
.application_button.button{font-size:15px;}
.job_listing .read_more{font-size:15px;}
.job_listings .position{width:32%;}
}
@media (max-width:991px){.blog .blog-archive .entry.col-md-8,.blog .blog-archive .col-md-4{max-width:100%;}
.job_listings .application{width:18%;}
.blog-archive .entry-feature,.blog-archive .entry-feature{max-width:535px;}
.blog .blog-archive h3.sidebar-widget-title,.blog .blog-archive h2{text-align:left;font-size:25px;}
.jaw_widget li.jaw_months{background:url(img/dot.png) no-repeat center left;}
.blog-archive .col-md-4 .widget li:not(.rpwe-li){text-align:left;}
.blog .blog-archive{padding:30px 15px 30px;}
.home_content .vc_col-sm-7{float:left;}
.site-primary-navigation #searchform{display:block;max-width:285px;margin:17px 15px 0 0;}
.box_gray .mCSB_inside > .mCSB_container{margin-right:40px;}
.site-primary-navigation{display:none;}
.header_2 .primary-menu-toggle.in-header{right:0px;top:22px;}
.header_2 .primary-menu-toggle{right:-41px;top:-78px;}
.header_2 .site-primary-navigation{width:100%;position:relative;}
.news_page.qa_page .box_gray{padding:50px 15px 50px 15px;}
.news_page{padding:0 15px;}
.header_2 .header_two_btn{position:absolute;right:86px;top:-2px;}
.primary-menu-toggle{display:block;}
.primary-menu-toggle i{color:#EC5741;}
.job_listing .read_more{bottom:0px;left:0;}
#searchform{max-width:228px;margin:0;}
.tab_list{margin:0;}
.site-header.header_2 .site-primary-navigation,.custom_filter ul{padding-left:10px;}
.site-header.open .primary-menu-toggle{position:absolute;}
.header_2 .site-primary-navigation #searchform{float:left;width:31%;max-width:inherit;margin:0px;}
.site-header.open .site-primary-navigation .nav-menu-primary{float:right;margin:0 0 10px 0;}
.menu-header-two-menu-container,.header_2 .menu-header-two-menu-container{width:69%;float:left;}
.blog .blog-archive{padding:30px 15px 30px;}
.header_2 .primary-menu-toggle{display:block;}
.site-header #searchform{float:right;margin:6px 15px 0 0;}
.box_gray h4{font-size:19px;}
.header_ #searchform{margin:5px 0px 0 0;}
.site-primary-navigation ul li.qa{position:absolute;bottom:-57px;right:0;}
.news_page h1,.register_step h2.rg_title{font-size:32px;}
.home_tab ul li{min-width:286px;width:50%;}
.home_tab ul{padding:0;text-align:center;}
.home_tab{height:auto;margin:0 0 30px 0;}
.support_service h3{font-size:26px;}
.who_we.bg_bottom,.home_content .vc_col-sm-7,.vc_col-sm-5{width:100%;padding:15px;}
.who_we.bg_bottom,.who_we{min-height:inherit;padding:30px 15px;}
.home_content h1{font-size:25px;margin:0 0 10px 0;}
.vc_custom_1444823884949{margin-top:0px !important;}
.register_step h2.rg_title{padding:0px 0 30px 0;}
.register-start .block h3{font-size:21px;}
.custom_filter ul li a{padding:3px 13px 4px 13px;}
.custom_filter label{font-size:17px;margin-top:8px;}
.job_listings .position{max-width:100%;width:26%;}
.brands h2{font-size:36px;margin:0 0 22px 0 !important;}
.rec_job ul li h4{font-size:14px;line-height:17px;}
div.job_listings{padding:0px 6px 20px 20px;}
.wpb_text_column p:last-child,.jaw_widget li.jaw_months a{padding-left:0;}
#content{padding-bottom:0;}
.brands .vc_col-sm-6{min-height:250px;}
.sub-header .step-penal p{font-size:15px;}
.sub-header .step-penal{max-width:100%;margin:0;}
.reg-step1 .form .line .inner p,.rec_job_related .wpb_content_element{width:100%;}
.reg-step1 .form input.require,.reg-step1 .form .line .inner p.pass{width:auto;}
.reg-step1 .form .line .inner p{margin:10px 0 5px 0;}
.reg-step1 .form .line .inner p.pass,.site-header.header_2 .header_two_btn{margin-top:0;}
.reg-step1 .orenge, .reg-step2 .orenge{min-height:294px;}
.reg-step1 .form input[name="fullname"]{width:270px;}
.reg-step1 .form input{width:137px;}
.reg-step1 .form .remove_form{font-size:15px;}
.reg-step3 .innerbox h2, .reg-step5 .innerbox h2,li.type-job_listing .position h3,.rec_job ul li a,.tab_list{font-size:18px;}
.vc_btn3-container.vc_btn3-center{text-align:left;}
.site-header.header_2 .site-title{padding-right:15px;}
.home_tab ul li.active span.icon_job{width:85px;height:85px;background-position:inherit;}
.home_tab ul li.active span.icon_profile,.home_tab ul li.active span.icon_partner,.home_tab ul li span.icon_support,.home_tab ul li.active span.icon_support{width:85px;height:85px;}
.home_tab ul li.active span.icon_profile{background-position:33% 0;}
.home_tab ul li.active span.icon_partner{background-position:64% 0;}
.home_tab ul li.active span.icon_support{background-position:95% 0;}
.home_tab ul li.active .tab_title{position:relative;bottom:auto;margin-left:auto;left:0%;margin-right:auto;transform:none;}
.page-header h1{margin-bottom:0;font-size:28px;}
.page-header{margin:20px 0;padding:20px 0 20px;}
.job_rs{min-height:38px;padding-left:0px;}
.blog-archive ul.rpwe-ul li{width:100%;}
.support_tab h4, .wpb_wrapper p{font-size:15px !important;}
.pop_content .pop_left,.pop_content .pop_right{width:100%;padding:0;}
.reg-step2 .form .line .inner h3{font-size:16.85px;padding-left:0;}
.landing_page{height:1308px;background-size:cover;}
.blog .blog-archive .col-md-4{float:left;}
.job_listings ul li label{padding-left:0px;border:none;}
.sub-footer{padding:19px 25px;}
.sub-footer .edit-strip{font-size:17px;padding:7px 20px 5px;}
.sub-footer a.nxt-step{padding:9px 13px 7px;font-size:17px;}
.sub-header .step-penal{height:auto;max-width:100%;margin:0;}
.sub-header .step-penal .active,.sub-header .step-penal .inactive{width:100%;border-right:none;}
.sub-footer button{padding:9px 13px 9px;font-size:18px;}
.reg-step2 .form .last .inner select{margin-top:10px;}
.job_listings .position{width:100%;text-align:center;}
li.type-job_listing .location, li.type-resume .location{width:100%;text-align:center;padding:0;margin-top:25px;}
.job_listings .brand{display:block;width:100%;text-align:center;padding:0px;}
.job_listings .application{width:100%;text-align:center;}
.application_button.button{margin-top:0px; position: relative; top: 0; transform: translateY(0%);}
.job_listings .comp_log{width:100%;margin-bottom:20px;margin-top:10px;text-align:center;}
.vc_custom_1445690965341{margin-top:0px !important;}
}
@media (max-width:767px){.site-title{margin:0 6px 0 0;}
.site-header{padding:15px 0;}
#searchform{margin:11px 15px 0 0;float:left;}
.box_gray h3{font-size:20px;}
.primary-menu-toggle{right:12px;}
.blog header .site-branding{width:37%;}
.news_page h1{font-size:24px;margin-top:30px;}
.wpb_content_element{margin-bottom:30px;}
.box_gray{padding:30px 15px 30px;}
a.view_photo{margin-bottom:15px !important;}
.site-header.header_2 .site-title{padding-right:10px;}
.header_logo,.reg-step5 .innerbox .block:after{display:none;}
.header_2 .header_two_btn{top:-6px;}
.primary-menu-toggle.in-header{top:26px;}
.header_2 .primary-menu-toggle{right:-45px;top:-74px;}
.primary-menu-toggle{top:-72px;right:-42px;}
.site-primary-navigation ul li.menu_btn a{padding:8px 20px;}
#searchform input[type=text],.custom_filter ul li a{font-size:13px;}
.box_gray p,.reg-step1 .orenge .right h3, .reg-step2 .orenge .right h3,.reg-step3 .innerbox .uploadvid .inner h3, .reg-step5 .innerbox .uploadvid .inner h3,.reg-step4 .inner_block .block h4,.reg-step5 .sub-header .step-penal h5{font-size:15px;}
.home_tab ul li{min-width:210px;}
.wpb_wrapper .vc_col-sm-12{padding:0;}
.job_listing .read_more{padding:10px 16px;left:0px;bottom:0px;}
.job_listings .brand{display:none;}
li.type-job_listing .location, li.type-resume .location{width:28%;}
.job_listings .application{width:28%;}
.job_listings .position{width:40%;}
.job_listings .comp_log{width:100%;margin:10px 0px;text-align:center;}
.home_content h1{font-size:21px;}
.home_content p,.reg-step5 .orenge h3{font-size:17px;}
.job_title{padding:0 10px 0px 0;}
.support_tab{padding:30px 15px 30px 15px;}
.home_content{padding-bottom:30px;}
.brands .vc_col-sm-6,.brands .vc_col-sm-6:last-child{max-width:93%;padding:30px 18px 30px;}
.register-start .block figure img{max-width:158px;}
.register-start .block figure{min-height:200px;}
.register-start .block h3{font-size:16px;}
.apply_btn,.sub-footer a.nxt-step{font-size:16px;padding:9px 13px 8px;}
.apply_btn img{width:14%;}
#searchform button{top:0;}
.header_ #searchform{margin:5px 0px 0 0;}
.wpb_text_column p:last-child, .wpb_text_column *:last-child{font-size:17px !important;}
.reg-step1 .form label[for="study-type"], .reg-step2 .form label[for="study-type"], .form label.study_type{width:125px;margin-left:5px;}
.reg-step1 .form label[for="position"], .reg-step2 .form label[for="position"], .form label.position{width:110px;margin-left:5px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{width:122px;}
.reg-step1 .form label[for="level"], .reg-step2 .form label[for="level"], .form label.level,.reg-step1 .form .line .inner p.pass,.reg-step1 .form label[for="gender"], .reg-step2 .form label[for="gender"], .form label.gender{margin-left:5px;}
.reg-step1 .form label[for="fullname"], .reg-step2 .form label[for="fullname"], .form .fullname{width:100px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:140px;}
.reg-step1 .form label[for="expinsel"], .reg-step2 .form label[for="expinsel"], .form .expinsel,.reg-step1 .form input[name="schooldegree"], .reg-step2 .form input[name="schooldegree"], .reg-step1 .form .schooldegree{width:114px;}
.reg-step1 .orenge, .reg-step2 .orenge{min-height:318px;}
.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel{width:138px;}
.news_page h1, .register_step h2.rg_title{font-size:22px;}
.reg-step3 .innerbox .sellingtip p, .reg-step5 .innerbox .sellingtip p{padding:0px;}
.reg-step4 .inner_block .block button{font-size:12px;}
.reg-step4 .inner_block,.reg-step5 .orenge h3{padding:0 15px;}
.reg-step5 .innerbox h3,.reg-step3 .innerbox h4, .reg-step5 .innerbox h4{font-size:20px;margin:0 15px;}
.reg-step5 .innerbox .block:nth-child(2),.reg-step5 .innerbox .block:nth-child(3),.reg-step5 .innerbox .block:last-child{width:100%;}
.reg-step5 .innerbox .block figure{text-align:left;}
.reg-step2 .form .line .inner h3{font-size:16.85px;padding:0 0 10px 0px;}
.reg-step5 .sub-header .step-penal{width:100%;max-width:100%;margin-left:0;height:auto;}
.reg-step5 .innerbox .block:nth-child(2) p, .reg-step5 .innerbox .block:nth-child(2) h4,.reg-step5 .innerbox .block h4{padding-left:0;margin:0;}
.reg-step5 .innerbox .block h4{padding:15px 0 15px 0px;}
.reg-step5 .innerbox .block p{padding:0 15px 0 0;}
.reg-step5 .sub-header .step-penal p{font-size:14px;}
.header_2 .primary-menu-toggle.in-header{top:17px;}
li.type-job_listing .position h3{margin-bottom:30px;}
.blog .blog-archive{padding:15px;}
.blog .header_ .container{padding:0 15px;}
.pop_content h3{font-size:19px;margin:0 0 15px;}
.pop_content{padding:20px 15px;}
.pop_content .pop_left{border-right:none;}
.slick-prev.slick-arrow{left:0px;}
.slick-next.slick-arrow{right:0px;}
.lan_middle{padding:175px 40px 0 40px;}
.lan_middle h2{font-size:42px;}
.box_gray .vc_col-sm-6:nth-child(2n){padding-left:15px;}
li.type-job_listing.highlight,.job_listings ul.job_listings .job_listing.highlight:hover{background-position:80% bottom;}
.loc_gallary{padding:0px 20px 0px 20px;}
.custom_filter ul li{width:100%;margin:0 0 10px 0;}
.wpb_wrapper .custom_filter ul{width:100%;margin-top:15px;}
.job_listings .application,.custom_filter label,.rec_job_related .wpb_content_element{width:100%;}
.rec_job ul li{width:100%;margin-bottom:20px;}
.job_listings .position{width:100%;text-align:center;}
li.type-job_listing .location, li.type-resume .location{width:100%;text-align:center;padding:0;margin-top:15px;margin-bottom:10px;}
.job_listings .brand{display:block;width:100%;text-align:center;padding:0px;margin-bottom:10px;}
.job_listings .application{width:100%;text-align:center;}
.application_button.button{margin-top:0px;}
.job_listings ul li label{font-size:18px;border:none;padding-left:0;margin-bottom:0px;}
.job_rs{padding-left:0px;}
.reg-step1 .form .line .inner{width:300px;max-width:98%;}
.reg-step2 .form .line .inner{max-width:90%;}
.reg-step1 .form .line .inner p{margin:0px;}
.reg-step1 .form .line .inner label{width:50%;text-align:center;clear:both;margin-left:0px;margin-bottom:10px;padding:12px 0px;}
.reg-step1 .form .line .inner input{width:50%;}
.reg-step1 .form .line .inner select{width:50%;padding:8px 30px 8px 0px;}
.reg-step1 .form .line .inner p.pass{width:100%;margin:0;}
.reg-step1 .form select[name="age"], .reg-step2 .form select[name="age"], .reg-step1 .form select.age{font-size:12px;}
.add_from_btn .add_form{margin-right:20px;}
.reg-step1 .orenge .arrow{display:none;}
.reg-step1 .orenge .camera{display:inline-block;margin:0 auto;}
.reg-step1 .orenge{padding-right:20px;text-align:center;}
.sub-footer button.save{font-size:16px;padding:9px 15px;}
.footer-widgets{box-shadow:none;}
div.job_listings{background-size:cover;}
.reg-step5 .innerbox .block figure, .reg-step5 .innerbox .block{text-align:center;}
.reg-step3 .innerbox .sellingtip, .reg-step5 .innerbox .sellingtip,.reg-step3 .innerbox .exv, .reg-step5 .innerbox .exv,.reg-step3 .innerbox .uploadvid, .reg-step5 .innerbox .uploadvid{width:100%;text-align:center;padding:0px 15px;border:medium none;}
.reg-step3 .innerbox .exv{text-align:center;border:none;margin-top:15px;}
.reg-step3 .innerbox .exv .video{float:none;margin-top:10px;}
.reg-step1 .orenge img.vartical-strip, .reg-step2 .orenge img.vartical-strip{left:43%;}
.reg-step1 .orenge .right input{float:none;}
.site-primary-navigation ul li.qa{position:relative;top:0;}
.reg-step2 .form .line .inner .limit{position:relative;right:50px;bottom:0px;margin-top:20px;}
.vc_custom_1445690965341{margin-top:0px !important;}
.rec_job ul li h4{min-height:0px;}
.application_button.button{line-height:40px;}
}
@media (max-width:641px){.reg-step4 .inner_block .block button{float:none;margin:8px auto 8px 74px;}
.reg-step4 .inner_block .block h4{width:80%;}
@media screen and (-webkit-min-device-pixel-ratio:0){::i-block-chrome,.application_button.button{padding-top:20px;}
}
}
@media (max-width:568px){.site-title{margin:0 15px 0 0;}
.blog header .site-branding{width:50%;}
.blog .blog-archive h3.sidebar-widget-title, .blog .blog-archive h2,.brands h2{font-size:25px;}
#content{padding-bottom:0;}
.header_,.home_tab .container,.hide_tab{padding:0;}
.header_2 .site-primary-navigation #searchform{width:100%;margin:0px auto;max-width:228px;float:none;}
.menu-header-two-menu-container{width:100%;}
.site-primary-navigation ul li.menu_btn a{font-size:16px;}
.site-header.open .site-primary-navigation .nav-menu-primary{margin:15px 0 15px 0;}
.primary-menu-toggle{top:-65px;}
#searchform{max-width:205px;}
.header_2 .header_two_btn{top:-7px;}
.header_ #searchform{margin:16px 0px 0 0;}
.site-header.open .site-primary-navigation .nav-menu-primary{width:100%;float:left;text-align:center;}
.site-header.header_2 .site-primary-navigation ul li{float:none;display:inline-block;}
.menu-header-two-menu-container, .header_2 .menu-header-two-menu-container,.register-start .block{width:100%;}
.register-start{height:auto;}
li.type-job_listing .position h3{font-size:18px;margin:20px 0 42px 0;}
.wpb_row,.reg-step3 .innerbox h2, .reg-step5 .innerbox h2{margin:0px;}
.register-start .block{margin:30px 0;}
.support_tab h4 strong{font-size:21px;}
.home_tab ul li{margin:0;min-width:218px;}.brands .vc_col-sm-6,.brands .vc_col-sm-6:last-child{margin:35px 0px 0px;}
.vc_custom_1444717412444{margin-bottom:40px !important;}
.apply_btn{display:block;}
.reg-step1 .orenge .right input, .reg-step2 .orenge .right input{width:225px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:160px;}
.reg-step1 .form label[for="scndlang"], .reg-step2 .form label[for="scndlang"], .form .scndlang{width:118px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:128px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{width:110px;}
.reg-step1 .form input[name="study_type"], .reg-step2 .form input[name="study_type"], .reg-step1 .form .study_type{width:89px;}
.reg-step1 .form label, .reg-step2 .form label, .reg-step1 .form label[for="exp"], .reg-step2 .form label[for="exp"], .form .exp, .reg-step1 .orenge .right input, .reg-step2 .orenge .right input{font-size:12px;}
.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel,.reg-step1 .form input.require{width:132px;}
.reg-step1 .form label[for="position"], .reg-step2 .form label[for="position"], .form label.position{width:86px;}
.reg-step1 .form label[for="fullname"], .reg-step2 .form label[for="fullname"], .form .fullname{width:108px;}
.reg-step1 .form label[for="study-type"], .reg-step2 .form label[for="study-type"], .form label.study_type{width:116px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{width:108px;}
.reg-step1 .form input[name="study_type"], .reg-step2 .form input[name="study_type"], .reg-step1 .form .study_type{width:130px;}
.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel{width:134px;}
.reg-step1 .form input.require{width:125px;}
.register_step h2.rg_title{padding:30px 0;}
.entry-content{margin:30px 0;}
.job_opening h2{font-size:20px;margin:25px 0 25px 0;}
.job_listing .read_more{font-size:16px;bottom:22px;}
.brands .vc_col-sm-6, .brands .vc_col-sm-6:last-child{max-width:97%;}
.reg-step3 .innerbox .sellingtip{text-align:center;margin:5px 0 15px 0px;border:none;}
.que_detail{padding-left:75px;width:100%;padding-right:5px;margin-left:0px;}
.blog .blog-archive .col-md-4{width:100%;}
.job_listings .comp_log{text-align:center;width:100%;margin:10px 0px;display:block;}
.home_content .vc_col-sm-7.what_we_video .wpb_wrapper{float:none;}
.what_we_video .wpb_single_image{width:100%;}
li.type-job_listing .location{margin-top:0px;}
}
@media (max-width:567px){.custom_filter ul li a{padding:4px 9px 3px 9px;}
.pop_content{text-align:center;}
.pop_header li.print{border-right:none;}
.pop_header li{width:auto;display:inline-block;padding:0;}
.pop_header li.close{margin-top:3px;}
.pop_header li a{font-size:0px;}
.job_desc{width:97%;}
.loc_gallary{padding:0px 20px 0px 20px;}
.reg-step1{padding:0px;}
.list_form{padding:10px;}
.reg-step1 .orenge img.vartical-strip, .reg-step2 .orenge img.vartical-strip{left:44%;display:none;}
.reg-step1 .orenge{min-height:360px;}
.sub-footer .edit-strip{width:26%;font-size:0;padding:6px 0px;text-align:center;}
.apply_btn, .sub-footer a.nxt-step{font-size:16px;}
.sub-footer button.save{font-size:18px;margin-right:-16px;padding:9px 15px 8px;box-shadow:-1px 0px 1px 1px #a6a9ac;}
.sub-footer{padding:20px 10px;}
.job_opening .vc_col-sm-12{padding:0;}
.job_rs,.custom_filter{font-size:16px;margin-bottom:0px;}
.footer-widgets{box-shadow:none;}
.reg-step1 .orenge .left, .reg-step2 .orenge .left,.reg-step1 .orenge .right, .reg-step2 .orenge .right{width:100%;}
.reg-step1 .orenge{padding-right:20px;}
.home_tab ul li.sin_line:first-child .tab_title{padding:20px 20px;}
.home_tab ul li .tab_title{padding:20px 20px;line-height:26px;}
}
@media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait){.home_tab ul li.sin_line:first-child .tab_title{padding:20px 20px 15px;}
.home_tab ul li .tab_title{padding:20px 20px 15px;line-height:26px;}
.job_listing .application_button.button{padding:13px 20px 5px;font-size:14px;}
.job_listing .read_more{padding:13px 12px 9px;font-size:14px;}
}
@media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:landscape){.reg-step4 .inner_block .block h4{width:80%;}
#step4 .reg-step4 .inner_block .block button{padding:10px 10px 6px;}
.que_detail{margin-left:70px;padding-top:10px;padding-right:50px;}
}
@media (max-width:479px){.reg-step1 .orenge .right input{float:none;}
.reg-step1 .orenge img.vartical-strip, .reg-step2 .orenge img.vartical-strip{right:0%;left:auto;}
.site-branding,.blog header .site-branding{width:66%;}
.site-header.open .site-primary-navigation .nav-menu-primary{float:left;text-align:center;}
.site-header.header_2 .site-primary-navigation ul li{float:none;display:inline-block;margin-bottom:24px;}
.site-header.header_2 .header_two_btn{right:0;width:100%;text-align:center;position:inherit;}
.site-primary-navigation ul li.menu_btn a{font-size:19px;}
.site-header.header_2 .header_two_btn a{float:none;display:inline-block;margin:15px 5px 0px 5px;}
.primary-menu-toggle{top:-71px;}
#searchform button,#searchform button:hover{top:1px;padding:0;background-size:100%;}
.header_ #searchform #s{font-size:12px;padding:5px 26px;}
.blog header.site-header .site-branding{width:55%;}
.header_2 #searchform{max-width:130px;}
.box_gray h4{font-size:17px;margin:10px 0;}
.header_ .site-title{margin:0;}
.blog header.header_ .site-branding{padding:0;}
.header_ #searchform{max-width:146px;margin:7px 0px 0 0;}
.blog header.header_ .site-branding{width:51%;}
a.btn,.support_heading p,.job_opening h2,.reg-step5 .innerbox h3{font-size:15px;}
.site-primary-navigation ul li.qa{left:0;margin:0 auto;}
.header_2 .primary-menu-toggle.in-header{right:0px;}
.who_we.bg_bottom, .who_we{padding:30px 0px;background:none;}
.who_we.bg_bottom, .home_content .vc_col-sm-7, .vc_col-sm-5{padding:15px 0;}
.rec_job ul li h4{min-height:inherit;}
.rec_job ul li{margin-right:0;margin-bottom:25px;}
.support_service h3,.support_tab h4 strong,.support_tab h4{font-size:17px;}
.support_heading .wpb_content_element{padding:25px 15px;}
.support_tab .mCSB_inside > .mCSB_container{margin-right:15px;}
.job_listings .mCSB_inside > .mCSB_container{margin-right:55px;}
.home_tab ul li{width:100%;}
.application_button.button{font-size:18px;line-height:18px;}
li.type-job_listing, li.type-resume{padding:5px 10px 30px;}
.job_listings .comp_log{float:left;margin-bottom:28px;}
.application{margin-bottom:16px;}
.brands .wpb_single_image.vc_align_right{float:left;margin:10px 10px 15px 0px;}
.vc_custom_1444469525007{margin-left:0px !important;}
.apply_btn img{width:38%;}
.brands .wpb_single_image.vc_align_left{float:none;}
.header_ #searchform{max-width:140px;}
.home_content .vc_col-sm-7.what_we_video .wpb_wrapper{float:none;}
.site-header.header_2 .container, .site-header .container{padding:0 15px;}
.reg-step1 .form label[for="exp"], .reg-step2 .form label[for="exp"], .form .exp{width:102px;}
.reg-step1 .form label[for="english"], .reg-step2 .form label[for="english"], .form .english{width:110px;}
.reg-step1 .form label[for="gender"], .reg-step2 .form label[for="gender"],.form label.gender{margin-left:0;margin-top:10px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:148px;}
.reg-step1 .form label[for="level"], .reg-step2 .form label[for="level"], .form label.level, .reg-step1 .form .line .inner p.pass,.reg-step1 .form label[for="study-type"], .reg-step2 .form label[for="study-type"], .form label.study_type,.reg-step1 .form label[for="position"], .reg-step2 .form label[for="position"], .form label.position{margin-left:0;}
.reg-step1 .form label[for="level"],.reg-step1 .form select[name="level"], .reg-step1 .form label[for="study-type"],.reg-step1 .form input[name="study_type"],.reg-step1 .form select[name="gender"],.reg-step1 .form .line .inner p.pass,.reg-step1 .form input[name="study_type"], .reg-step2 .form input[name="study_type"], .reg-step1 .form .study_type,.reg-step1 .form .gender, .reg-step1 .form select.level{margin-top:10px;}
.reg-step1 .form select[name="scndlang"], .reg-step2 .form select[name="scndlang"], .reg-step1 .form .scndlang{width:142px;}
.reg-step1 .form label[for="city"], .reg-step2 .form label[for="city"], .form .city{width:123px;}
.reg-step1 .form input[name="fullname"]{width:152px;}
.reg-step1 .form select[name="exp"], .reg-step2 .form select[name="exp"], .reg-step1 .form .exp,.reg-step1 .form select[name="expinsel"], .reg-step2 .form select[name="expinsel"], .reg-step1 .form .expinsel{padding-top:8px;}
.reg-step1 .form label[for="schooldegree"], .reg-step2 .form label[for="schooldegree"], .form .schooldegree{padding:10.5px 0;}
.reg-step1 .form label[for="expinsel"], .reg-step2 .form label[for="expinsel"], .form .expinsel, .reg-step1 .form input[name="schooldegree"], .reg-step2 .form input[name="schooldegree"], .reg-step1 .form .schooldegree{width:115px;}
.reg-step1 .orenge, .reg-step2 .orenge{min-height:500px;}
.reg-step1 .form input[name="city"], .reg-step2 .form input[name="city"], .reg-step1 .form .city{width:137px;}
.reg-step1 .form .expinsel{font-size:12.58px;}
.reg-step1 .form, .reg-step2 .form{padding:0px 10px 22px;}
.reg-step1 .orenge .right h3, .reg-step2 .orenge .right h3{margin-top:0;}
.reg-step1 .form label[for="expinsel"],.reg-step1 .form select[name="expinsel"],.reg-step1 .form .expinsel{margin-bottom:10px;}
.box_gray h3,.home_content h1{font-size:18px;}
.blog .blog-archive h2{font-size:20px;}
.job_listings .application{width:100%;}
.job_rs{min-height:inherit;}
.job_listing .read_more{font-size:11px;line-height:11px;}
.page-header h1{font-size:22px;}
.brands h2{margin:30px 0 18px 0 !important;}
.blog-archive .post_comment span{margin:0 10px 0 0;}
.blog-archive .post_date span{margin:0 5px 0 0;}
.blog-archive .post_date, .blog-archive .post_comment{font-size:12px;}
.blog-archive .post_date{padding-bottom:10px;width:auto;float:left;margin-right:6px;}
.brands .vc_col-sm-6, .brands .vc_col-sm-6:last-child{max-width:96%;}
.landing_page{height:1742px;}
.lan_middle{height:990px;}
.reg-step2 .form .line .inner .limit{bottom:0px;position:relative;right:0px;font-size:14px;margin-top:20px;}
.reg-step2 .form .line .inner h3{font-size:14px;}
.reg-step4 .mCSB_inside > .mCSB_container{margin-right:30px;}
.reg-step4 .inner_block .block h4{width:70%;}
.reg-step1 .orenge .right img{float:none;}
.reg-step1 .orenge .camera{width:100%;text-align:center;}
.reg-step1 .orenge .right input, .reg-step1 .orenge .right input:last-child{margin:15px auto 0px;}
.reg-step1 .orenge{padding-right:0px;}
.reg-step1 .orenge .right h3{width:100%;margin-left:0;}
.reg-step1 .orenge{min-height:430px;}
.news_page .box_gray img{width:100%;margin-bottom:10px;}
.news_page .box_gray{text-align:center;}
}